.container {
  display: grid;
  max-width: 900px;
  position: relative;
  margin: auto;
  gap: 10px;
  grid-template-areas: "header header"
                      "nav nav"
                      "left right"
                      "footer footer";
 grid-template-columns: 200px 400px;
 grid-template-rows: 150px 200px 600px 200px;

}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

footer {
  grid-area: footer;
}

h1, h2 {
  font-family: monospace;
  text-align: center;
}

header {
  background-color: dodgerblue;
}

nav {
  background-color: beige;
}

.left {
  background-color: dodgerblue;
}

.right {
  background-color: beige;
}

footer {
  background-color: dodgerblue;
}
